---

---

<style>
    .trees{
        background-image: url("/background/trees.webp");
        background-repeat: repeat-x;
        background-position: bottom;
    }
</style>

<div class="trees">
    <main>
        <slot/>
    </main>
</div>