---
import { Image } from "astro:assets";
import neocities from "../assets/neocities-host.png";
---

<footer>
	<div>
		<i>Виживи, все лише починається</i>
	</div>
	<a href="https://neocities.org/">
		<Image src={neocities} alt={"hosted by neocities"} />
	</a>
</footer>
<style>
	footer {
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
