---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets'
import logo from "../assets/logo.webp"
---

<header>
	<nav class="flex flex-justify-between items-center bg-black p-2">
		<h4>
			<a class="no-underline c-white hover:c-white" href="/">
				<div class="flex items-center">	
					<Image class:list={["flex-none", "pr-2"]} width={48} height={48} src={logo} alt="logo"></Image>
					<span>{SITE_TITLE}</span>
				</div>
			</a>
		</h4>
		<div>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<!-- <HeaderLink href="/about">About</HeaderLink> -->
		</div>
	</nav>
</header>
